openapi: 3.1.0
tags:
  - name: Abandonment
    description: Cart abandonments
  - name: Cart
    description: Carts
  - name: Event
    description: Events
  - name: Flow
    description: Flows
  - name: List
    description: List
  - name: Message
    description: Messages
  - name: OptinTool
    description: Opt-in tools
  - name: Order
    description: Orders
  - name: Subscriber
    description: Subscribers
  - name: Subscription
    description: Subscriptions
  - name: Webhook
    description: Webhooks
servers:
  - url: 'https://api.recart.com/app-integrations/2023-12'
    description: Production
info:
  title: Recart API
  description: Open API description of the Recart API
  version: 2023-12
  contact:
    name: Recart
    url: https://recart.com
paths:
  /flows:
    get:
      summary: Retrieve list of flows
      tags:
        - Flow
      operationId: listFlows
      security:
        - ApiKeyAuth: []
      description: |
        List flows.
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flow'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/flows/{id}':
    get:
      summary: Receive a single flow
      tags:
        - Flow
      operationId: getFlow
      security:
        - ApiKeyAuth: []
      description: |
        Get flow by ID
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the flow
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Flow'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /optin-tools:
    get:
      summary: Retrieve list of opt-in tools
      tags:
        - OptinTool
      operationId: listOptinTools
      security:
        - ApiKeyAuth: []
      description: |
        List the site's opt-in tools (popups, landing pages, embedded forms, keywords).
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OptinTool'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/optin-tools/{id}':
    get:
      summary: Receive a single opt-in tool
      tags:
        - OptinTool
      operationId: getOptinTool
      security:
        - ApiKeyAuth: []
      description: |
        Get opt-in tool by ID
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the opt-in tool
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OptinTool'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/optin-tools/{id}/views/{name}':
    get:
      summary: Statistics view of an opt-in tool
      tags:
        - OptinTool
      operationId: getOptinToolView
      security:
        - ApiKeyAuth: []
      description: |
        One statistics view of a popup-type opt-in tool. `name` picks the view; `all`
        returns every section in one response. When the date range is
        omitted it defaults to the last 7 days.

        Statistics fields are never null: buckets without activity and empty
        ranges return 0 counts and 0 rates — zero and "no data" are
        deliberately not distinguished, matching the dashboard. The only
        fields that can be absent are the channel-gated email/SMS ones,
        which are omitted when the tool does not collect that channel.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the opt-in tool
          schema:
            type: string
        - name: name
          in: path
          required: true
          description: The view to return
          schema:
            type: string
            enum:
              - optin-summary
              - optin-history
              - revenue-summary
              - revenue-history
              - revenue-by-optin-segments
              - revenue-by-countries
              - subscriptions-history
              - all
        - name: dateFrom
          in: query
          description: |
            First day of the range, inclusive (YYYY-MM-DD, UTC).
            Defaults to 7 days before `dateTo`.
          schema:
            type: string
            format: date
            example: '2026-08-04'
        - name: dateTo
          in: query
          description: |
            Last day of the range, inclusive — `dateTo=2026-08-10` includes
            the whole of 2026-08-10 (UTC). Defaults to today.
          schema:
            type: string
            format: date
            example: '2026-08-10'
        - name: targetResolution
          in: query
          description: Bucket size of the time series — history views and `all` only. Buckets are UTC; weeks start on Monday.
          schema:
            type: string
            enum:
              - day
              - week
              - month
              - year
            default: day
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    description: |
                      Always one resource of type optin-tool-views. attributes
                      holds the requested view's data under its name — one key
                      for a single view, all seven for name=all.
                    $ref: '#/components/schemas/OptinToolViews'
              examples:
                optin-summary:
                  summary: name=optin-summary
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        optin-summary:
                          impression: 41200
                          teaserConfirm: 890
                          teaserConfirmRate: 0.0216
                          teaserDecline: 2140
                          emailOptin: 610
                          emailOptinRate: 0.0148
                          phoneNumberSubmitted: 530
                          phoneNumberSubmittedRate: 0.0129
                          smsOptin: 480
                          smsOptinRate: 0.0117
                optin-history:
                  summary: name=optin-history — one bucket per targetResolution unit
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        optin-history:
                          - timestamp: '2026-07-27'
                            impression: 5480
                            emailOptin: 84
                            emailOptinRate: 0.0153
                            smsOptin: 66
                            smsOptinRate: 0.012
                          - timestamp: '2026-07-28'
                            impression: 0
                            emailOptin: 0
                            emailOptinRate: 0
                            smsOptin: 0
                            smsOptinRate: 0
                revenue-summary:
                  summary: name=revenue-summary
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        revenue-summary:
                          associatedRevenue: 12403.5
                          orders: 96
                          averageOrderValue: 129.2
                          revenuePerVisitor: 0.3
                          orderConversionRate: 0.0023
                revenue-history:
                  summary: name=revenue-history — one bucket per targetResolution unit
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        revenue-history:
                          - timestamp: '2026-07-27'
                            associatedRevenue: 1710
                            orders: 13
                            averageOrderValue: 131.54
                            revenuePerVisitor: 0.31
                            orderConversionRate: 0.0024
                revenue-by-optin-segments:
                  summary: name=revenue-by-optin-segments
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        revenue-by-optin-segments:
                          - optinSegmentType: smsOptin
                            optinSegmentCount: 480
                            associatedRevenue: 5100
                            orders: 41
                            averageOrderValue: 124.39
                            revenuePerVisitor: 10.63
                            orderConversionRate: 0.0854
                          - optinSegmentType: total
                            optinSegmentCount: 41200
                            associatedRevenue: 12403.5
                            orders: 96
                            averageOrderValue: 129.2
                            revenuePerVisitor: 0.3
                            orderConversionRate: 0.0023
                revenue-by-countries:
                  summary: name=revenue-by-countries
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        revenue-by-countries:
                          - countryCode: US
                            impressionCount: 31200
                            associatedRevenue: 10900
                            orders: 82
                            averageOrderValue: 132.93
                            revenuePerVisitor: 0.35
                            orderConversionRate: 0.0026
                          - countryCode: UNKNOWN_COUNTRY
                            impressionCount: 1210
                            associatedRevenue: 1503.5
                            orders: 14
                            averageOrderValue: 107.39
                            revenuePerVisitor: 1.24
                            orderConversionRate: 0.0116
                subscriptions-history:
                  summary: name=subscriptions-history — one bucket per targetResolution unit
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        subscriptions-history:
                          - timestamp: '2026-07-27'
                            subscriptions: 118
                          - timestamp: '2026-07-28'
                            subscriptions: 0
                all:
                  summary: name=all — every view under its own key
                  value:
                    data:
                      type: optin-tool-views
                      attributes:
                        optin-summary:
                          impression: 41200
                          teaserConfirm: 890
                          teaserConfirmRate: 0.0216
                          teaserDecline: 2140
                          emailOptin: 610
                          emailOptinRate: 0.0148
                          phoneNumberSubmitted: 530
                          phoneNumberSubmittedRate: 0.0129
                          smsOptin: 480
                          smsOptinRate: 0.0117
                        optin-history:
                          - timestamp: '2026-07-27'
                            impression: 5480
                            emailOptin: 84
                            emailOptinRate: 0.0153
                            smsOptin: 66
                            smsOptinRate: 0.012
                        revenue-summary:
                          associatedRevenue: 12403.5
                          orders: 96
                          averageOrderValue: 129.2
                          revenuePerVisitor: 0.3
                          orderConversionRate: 0.0023
                        revenue-history:
                          - timestamp: '2026-07-27'
                            associatedRevenue: 1710
                            orders: 13
                            averageOrderValue: 131.54
                            revenuePerVisitor: 0.31
                            orderConversionRate: 0.0024
                        revenue-by-optin-segments:
                          - optinSegmentType: smsOptin
                            optinSegmentCount: 480
                            associatedRevenue: 5100
                            orders: 41
                            averageOrderValue: 124.39
                            revenuePerVisitor: 10.63
                            orderConversionRate: 0.0854
                        revenue-by-countries:
                          - countryCode: US
                            impressionCount: 31200
                            associatedRevenue: 10900
                            orders: 82
                            averageOrderValue: 132.93
                            revenuePerVisitor: 0.35
                            orderConversionRate: 0.0026
                        subscriptions-history:
                          - timestamp: '2026-07-27'
                            subscriptions: 118
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/optin-tools/views/{name}':
    get:
      summary: Statistics view of all opt-in tools of the site
      tags:
        - OptinTool
      operationId: getOptinToolListView
      security:
        - ApiKeyAuth: []
      description: |
        The account-level opt-in tool statistics view — every opt-in tool of
        the site in a single response, the collection counterpart of
        `/optin-tools/{id}/views/{name}`. `name` picks the view. When the
        date range is omitted it defaults to the last 7 days.

        `optin-tools-summary` returns one entry per opt-in tool that
        recorded any metric event or collected any SMS subscription in the
        range: the tool's `optinToolName` and `optinToolType`, then its raw
        metric-event unique-session counts merged with its new SMS
        subscription count. Event keys are sparse — a missing key means 0;
        `smsSubscriptions` is always present, 0 when none. Because every
        entry names and types its own tool, a per-type total can be computed
        from this response alone, without a separate `/optin-tools` call.
        Values are counts, not amounts: this view carries no USD figures; for
        attributed revenue use the per-tool revenue views. Subscriptions from
        non-tool sources (imports, customer chat, …) are not part of this
        view.
      parameters:
        - name: name
          in: path
          required: true
          description: The view to return
          schema:
            type: string
            enum:
              - optin-tools-summary
        - name: dateFrom
          in: query
          description: |
            First day of the range, inclusive (YYYY-MM-DD, UTC).
            Defaults to 7 days before `dateTo`. Must not be older than
            18 months — the API does not serve older data, and an older
            `dateFrom` returns 400.
          schema:
            type: string
            format: date
            example: '2026-08-18'
        - name: dateTo
          in: query
          description: |
            Last day of the range, inclusive — `dateTo=2026-08-24` includes
            the whole of 2026-08-24 (UTC). Defaults to today.
          schema:
            type: string
            format: date
            example: '2026-08-24'
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    description: |
                      Always one resource of type optin-tool-list-views.
                      attributes holds the requested view under its name,
                      keyed by source (opt-in tool ID or slug) inside.
                    $ref: '#/components/schemas/OptinToolListViews'
              examples:
                optin-tools-summary:
                  summary: name=optin-tools-summary — sparse event counts; a missing event means 0
                  value:
                    data:
                      type: optin-tool-list-views
                      attributes:
                        optin-tools-summary:
                          - optinToolId: 655637c97825e6ae655fe1c9
                            optinToolName: Summer sale — Main
                            optinToolType: popup
                            impression: 20400
                            teaserConfirmation: 512
                            closePopup: 3100
                            emailClick: 512
                            smsOptin: 276
                            smsSubscriptions: 150
                          - optinToolId: 655637c97825e6ae655fe1b5
                            optinToolName: Summer sale — Preferences
                            optinToolType: popup
                            impression: 18100
                            teaserConfirmation: 445
                            engagement: 5210
                            smsOptin: 190
                            smsSubscriptions: 120
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /optin-tool-experiments:
    get:
      summary: Retrieve list of A/B test experiments
      tags:
        - OptinTool
      operationId: listOptinToolExperiments
      security:
        - ApiKeyAuth: []
      description: |
        List the site's opt-in tool A/B test experiments — scheduled, running and ended.
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/OptinToolExperiment'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/optin-tool-experiments/{id}':
    get:
      summary: Receive a single A/B test experiment
      tags:
        - OptinTool
      operationId: getOptinToolExperiment
      security:
        - ApiKeyAuth: []
      description: |
        Get A/B test experiment by ID. An experiment belonging to another site
        is not visible and returns 404.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the experiment
          schema:
            type: string
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OptinToolExperiment'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/optin-tool-experiments/{id}/views/{name}':
    get:
      summary: Statistics view of an A/B test experiment
      tags:
        - OptinTool
      operationId: getOptinToolExperimentView
      security:
        - ApiKeyAuth: []
      description: |
        One statistics view of an A/B test experiment — the same numbers as the
        dashboard's experiment results. `name` picks the section; `all` returns
        every section in one response. A single request always returns every
        variant of the experiment: each section is an object keyed by the
        variant's opt-in tool ID, so the caller never passes `optinToolIds` —
        the participants are read from the experiment itself.

        There are no date parameters and no `targetResolution` — every section
        is a total for the experiment's own window, which is derived from its
        status: an `ended` experiment uses its full window, a `running` one
        spans its start until now, and a `scheduled` one has no statistics yet
        and returns 400.

        Statistics fields behave as in the opt-in tool views: counts and rates
        are never null, so a variant without activity returns 0 rather than
        being omitted, and rates are 0 when the denominator is 0. The
        exceptions are the channel-gated email/SMS fields, absent when the
        tool does not collect that channel, and `metric-event-summary`,
        whose per-variant map is sparse — only events that occurred appear, and
        a missing key means 0.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the experiment
          schema:
            type: string
        - name: name
          in: path
          required: true
          description: The view to return
          schema:
            type: string
            enum:
              - optin-summary
              - revenue-summary
              - revenue-by-optin-segments
              - metric-event-summary
              - all
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    description: |
                      Always one resource of type optin-tool-experiments-views.
                      attributes holds the requested section under its name,
                      keyed by variant optinToolId — one section key for a
                      single view, all four for name=all.
                    $ref: '#/components/schemas/OptinToolExperimentViews'
              examples:
                optin-summary:
                  summary: name=optin-summary — both variants keyed by opt-in tool ID
                  value:
                    data:
                      type: optin-tool-experiments-views
                      attributes:
                        optin-summary:
                          655637c97825e6ae655fe1c9:
                            impression: 20400
                            teaserConfirm: 512
                            teaserConfirmRate: 0.0251
                            teaserDecline: 1230
                            emailOptin: 0
                            emailOptinRate: 0
                            phoneNumberSubmitted: 310
                            phoneNumberSubmittedRate: 0.0152
                            smsOptin: 276
                            smsOptinRate: 0.0135
                            subscriptions: 268
                          655637c97825e6ae655fe1b5:
                            impression: 20600
                            teaserConfirm: 445
                            teaserConfirmRate: 0.0216
                            teaserDecline: 1180
                            emailOptin: 0
                            emailOptinRate: 0
                            phoneNumberSubmitted: 271
                            phoneNumberSubmittedRate: 0.0132
                            smsOptin: 240
                            smsOptinRate: 0.0117
                            subscriptions: 233
                revenue-summary:
                  summary: name=revenue-summary
                  value:
                    data:
                      type: optin-tool-experiments-views
                      attributes:
                        revenue-summary:
                          655637c97825e6ae655fe1c9:
                            associatedRevenue: 2410.5
                            orders: 31
                            averageOrderValue: 77.76
                            revenuePerVisitor: 0.12
                            orderConversionRate: 0.0015
                          655637c97825e6ae655fe1b5:
                            associatedRevenue: 1988.2
                            orders: 24
                            averageOrderValue: 82.84
                            revenuePerVisitor: 0.1
                            orderConversionRate: 0.0012
                revenue-by-optin-segments:
                  summary: name=revenue-by-optin-segments — one array per variant
                  value:
                    data:
                      type: optin-tool-experiments-views
                      attributes:
                        revenue-by-optin-segments:
                          655637c97825e6ae655fe1c9:
                            - optinSegmentType: noOptin
                              optinSegmentCount: 20124
                              associatedRevenue: 430.1
                              orders: 6
                              averageOrderValue: 71.68
                              revenuePerVisitor: 0.02
                              orderConversionRate: 0.0003
                            - optinSegmentType: smsOptin
                              optinSegmentCount: 276
                              associatedRevenue: 1980.4
                              orders: 25
                              averageOrderValue: 79.22
                              revenuePerVisitor: 7.18
                              orderConversionRate: 0.0906
                            - optinSegmentType: total
                              optinSegmentCount: 20400
                              associatedRevenue: 2410.5
                              orders: 31
                              averageOrderValue: 77.76
                              revenuePerVisitor: 0.12
                              orderConversionRate: 0.0015
                          655637c97825e6ae655fe1b5:
                            - optinSegmentType: noOptin
                              optinSegmentCount: 20360
                              associatedRevenue: 358.2
                              orders: 5
                              averageOrderValue: 71.64
                              revenuePerVisitor: 0.02
                              orderConversionRate: 0.0002
                            - optinSegmentType: smsOptin
                              optinSegmentCount: 240
                              associatedRevenue: 1630
                              orders: 19
                              averageOrderValue: 85.79
                              revenuePerVisitor: 6.79
                              orderConversionRate: 0.0792
                            - optinSegmentType: total
                              optinSegmentCount: 20600
                              associatedRevenue: 1988.2
                              orders: 24
                              averageOrderValue: 82.84
                              revenuePerVisitor: 0.1
                              orderConversionRate: 0.0012
                metric-event-summary:
                  summary: name=metric-event-summary — sparse per-variant maps; a missing event means 0
                  value:
                    data:
                      type: optin-tool-experiments-views
                      attributes:
                        metric-event-summary:
                          655637c97825e6ae655fe1c9:
                            impression:
                              count: 20400
                              orderValueUSD: 0
                            teaserConfirmation:
                              count: 512
                              orderValueUSD: 0
                            teaserDecline:
                              count: 1230
                              orderValueUSD: 0
                            closePopup:
                              count: 3100
                              orderValueUSD: 0
                            smsOptin:
                              count: 276
                              orderValueUSD: 0
                            smsOptinRevenue:
                              count: 31
                              orderValueUSD: 2410.5
                          655637c97825e6ae655fe1b5:
                            impression:
                              count: 20600
                              orderValueUSD: 0
                            teaserConfirmation:
                              count: 445
                              orderValueUSD: 0
                            teaserDecline:
                              count: 1180
                              orderValueUSD: 0
                            engagement:
                              count: 5210
                              orderValueUSD: 0
                            smsOptin:
                              count: 240
                              orderValueUSD: 0
                            smsOptinRevenue:
                              count: 24
                              orderValueUSD: 1988.2
                all:
                  summary: name=all — every section under its own key
                  value:
                    data:
                      type: optin-tool-experiments-views
                      attributes:
                        optin-summary:
                          655637c97825e6ae655fe1c9:
                            impression: 20400
                            teaserConfirm: 512
                            teaserConfirmRate: 0.0251
                            teaserDecline: 1230
                            emailOptin: 0
                            emailOptinRate: 0
                            phoneNumberSubmitted: 310
                            phoneNumberSubmittedRate: 0.0152
                            smsOptin: 276
                            smsOptinRate: 0.0135
                            subscriptions: 268
                          655637c97825e6ae655fe1b5:
                            impression: 20600
                            teaserConfirm: 445
                            teaserConfirmRate: 0.0216
                            teaserDecline: 1180
                            emailOptin: 0
                            emailOptinRate: 0
                            phoneNumberSubmitted: 271
                            phoneNumberSubmittedRate: 0.0132
                            smsOptin: 240
                            smsOptinRate: 0.0117
                            subscriptions: 233
                        revenue-summary:
                          655637c97825e6ae655fe1c9:
                            associatedRevenue: 2410.5
                            orders: 31
                            averageOrderValue: 77.76
                            revenuePerVisitor: 0.12
                            orderConversionRate: 0.0015
                          655637c97825e6ae655fe1b5:
                            associatedRevenue: 1988.2
                            orders: 24
                            averageOrderValue: 82.84
                            revenuePerVisitor: 0.1
                            orderConversionRate: 0.0012
                        revenue-by-optin-segments:
                          655637c97825e6ae655fe1c9:
                            - optinSegmentType: noOptin
                              optinSegmentCount: 20124
                              associatedRevenue: 430.1
                              orders: 6
                              averageOrderValue: 71.68
                              revenuePerVisitor: 0.02
                              orderConversionRate: 0.0003
                            - optinSegmentType: smsOptin
                              optinSegmentCount: 276
                              associatedRevenue: 1980.4
                              orders: 25
                              averageOrderValue: 79.22
                              revenuePerVisitor: 7.18
                              orderConversionRate: 0.0906
                            - optinSegmentType: total
                              optinSegmentCount: 20400
                              associatedRevenue: 2410.5
                              orders: 31
                              averageOrderValue: 77.76
                              revenuePerVisitor: 0.12
                              orderConversionRate: 0.0015
                          655637c97825e6ae655fe1b5:
                            - optinSegmentType: noOptin
                              optinSegmentCount: 20360
                              associatedRevenue: 358.2
                              orders: 5
                              averageOrderValue: 71.64
                              revenuePerVisitor: 0.02
                              orderConversionRate: 0.0002
                            - optinSegmentType: smsOptin
                              optinSegmentCount: 240
                              associatedRevenue: 1630
                              orders: 19
                              averageOrderValue: 85.79
                              revenuePerVisitor: 6.79
                              orderConversionRate: 0.0792
                            - optinSegmentType: total
                              optinSegmentCount: 20600
                              associatedRevenue: 1988.2
                              orders: 24
                              averageOrderValue: 82.84
                              revenuePerVisitor: 0.1
                              orderConversionRate: 0.0012
                        metric-event-summary:
                          655637c97825e6ae655fe1c9:
                            impression:
                              count: 20400
                              orderValueUSD: 0
                            teaserConfirmation:
                              count: 512
                              orderValueUSD: 0
                            teaserDecline:
                              count: 1230
                              orderValueUSD: 0
                            closePopup:
                              count: 3100
                              orderValueUSD: 0
                            smsOptin:
                              count: 276
                              orderValueUSD: 0
                            smsOptinRevenue:
                              count: 31
                              orderValueUSD: 2410.5
                          655637c97825e6ae655fe1b5:
                            impression:
                              count: 20600
                              orderValueUSD: 0
                            teaserConfirmation:
                              count: 445
                              orderValueUSD: 0
                            teaserDecline:
                              count: 1180
                              orderValueUSD: 0
                            engagement:
                              count: 5210
                              orderValueUSD: 0
                            smsOptin:
                              count: 240
                              orderValueUSD: 0
                            smsOptinRevenue:
                              count: 24
                              orderValueUSD: 1988.2
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/carts/{id}':
    put:
      summary: Update cart
      tags:
        - Cart
      operationId: updateCart
      security:
        - ApiKeyAuth: []
      description: |
        Update the cart's content. Endpoint overwrites the cart's content with the new one.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the cart (session)
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UpdateCart'
      responses:
        '204':
          description: No content
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
    delete:
      summary: Clear cart
      tags:
        - Cart
      operationId: clearCart
      security:
        - ApiKeyAuth: []
      description: |
        Clear the cart's content.
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the cart (session)
          schema:
            type: string
      responses:
        '204':
          description: No content
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /abandonments:
    post:
      summary: Abandon a session
      tags:
        - Abandonment
      operationId: postAbandonment
      security:
        - ApiKeyAuth: []
      description: |
        Trigger an abandonment event in Recart. It sends the associated abandonment flow to the recipient. Flow must be active to send the message.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/AbandonCart'
      responses:
        '200':
          description: OK
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /orders:
    post:
      summary: Create an order
      tags:
        - Order
      operationId: postOrder
      security:
        - ApiKeyAuth: []
      description: |
        Create an order in Recart. It sends the associated receipt flow to the recipient. Flow must be active to send the message.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/CreateOrder'
      responses:
        '202':
          description: Created
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/orders/{id}':
    put:
      summary: Update an order
      tags:
        - Order
      operationId: updateOrder
      security:
        - ApiKeyAuth: []
      description: |
        Update an order in Recart.
      parameters:
        - name: id
          in: path
          required: true
          description: Id of the order
          schema:
            type: number
          example: 1234567890
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/UpdateOrder'
      responses:
        '202':
          description: No content
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /fulfillments:
    post:
      summary: Fulfill an order
      tags:
        - Order
      operationId: fulfillOrder
      security:
        - ApiKeyAuth: []
      description: |
        Fulfill an order.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/FulfillOrder'
      responses:
        '202':
          description: No content
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /subscribers:
    patch:
      summary: Update subscriber's custom attributes
      tags:
        - Subscriber
      operationId: patchSubscriber
      security:
        - ApiKeyAuth: []
      description: |
        Update the custom attributes of an SMS subscriber identified by phone number. Only the custom attributes included in the request are modified; attributes that are not provided remain unchanged.
      parameters:
        - name: phoneNumber
          in: query
          required: true
          description: Phone number of the subscriber
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/PatchSubscriber'
      responses:
        '204':
          description: No content
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/subscribers/views/{name}':
    get:
      summary: Statistics view of the site's subscribers
      tags:
        - Subscriber
      operationId: getSubscribersView
      security:
        - ApiKeyAuth: []
      description: |
        One statistics view over the site's subscribers. `name` picks the
        view. When the date range is omitted it defaults to the last 7 days.

        `subscription-sources` returns the new SMS subscriptions collected
        in the range, one entry per source — where the subscribers came
        from: opt-in tools by type (popup, landing-page, embedded-form,
        keyword), and non-tool sources (import, custom-integration,
        public-api, shopify_checkout, …). Every subscription counts toward
        exactly one source; a source without SMS subscriptions in the range
        is absent. Entries are sorted descending by smsSubscriptions. For
        the per-tool split use /optin-tools/views/optin-tools-summary.
      parameters:
        - name: name
          in: path
          required: true
          description: The view to return
          schema:
            type: string
            enum:
              - subscription-sources
        - name: dateFrom
          in: query
          description: |
            First day of the range, inclusive (YYYY-MM-DD, UTC).
            Defaults to 7 days before `dateTo`. Must not be older than
            18 months — the API does not serve older data, and an older
            `dateFrom` returns 400.
          schema:
            type: string
            format: date
            example: '2026-08-18'
        - name: dateTo
          in: query
          description: |
            Last day of the range, inclusive — `dateTo=2026-08-24` includes
            the whole of 2026-08-24 (UTC). Defaults to today.
          schema:
            type: string
            format: date
            example: '2026-08-24'
      responses:
        '200':
          description: Ok
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    description: |
                      Always one resource of type subscribers-views;
                      attributes holds the requested view under its name.
                    $ref: '#/components/schemas/SubscribersViews'
              examples:
                subscription-sources:
                  summary: name=subscription-sources — one entry per source
                  value:
                    data:
                      type: subscribers-views
                      attributes:
                        subscription-sources:
                          - source: import
                            smsSubscriptions: 1200
                          - source: popup
                            smsSubscriptions: 419
                          - source: shopify_checkout
                            smsSubscriptions: 86
                          - source: public-api
                            smsSubscriptions: 12
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /subscriptions:
    post:
      summary: Initiate SMS subscription
      tags:
        - Subscription
      operationId: postSubscription
      security:
        - ApiKeyAuth: []
      description: |
        Trigger an SMS subscription flow in Recart. It sends the associated welcome flow to the recipient. Flow must be active to comply TCPA regulations.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/PostSubscription'
      responses:
        '202':
          description: Accepted
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
    delete:
      summary: Unsubscribe SMS subscriber
      tags:
        - Subscription
      operationId: deleteSubscription
      security:
        - ApiKeyAuth: []
      description: |
        Unsubscribe an SMS subscriber if it's not unsubscribed yet.
      parameters:
        - name: phoneNumber
          in: query
          required: true
          description: Phone number of the subscriber
          schema:
            type: string
      responses:
        '204':
          description: No content
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /event-sources:
    post:
      summary: Create new event source
      tags:
        - Event
      operationId: createEventSource
      security:
        - ApiKeyAuth: []
      description: |
        Create a new source to start sending events
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/PostEventSource'
      responses:
        '201':
          description: Created
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /events:
    post:
      summary: Post an event
      tags:
        - Event
      operationId: postEvent
      security:
        - ApiKeyAuth: []
      description: |
        Post an event which can be used to trigger flows in Recart.

        Three preconditions must hold, each of which fails with its own status code:

        - the event source (`source.category` and `source.name`) is registered for the site
          via `POST /event-sources`,
        - `phoneNumber` belongs to an existing subscriber — this endpoint never creates one,
        - that subscriber has an active SMS subscription.

        Registered event sources are cached for up to 15 seconds, per service instance, so
        allow at least that long between creating an event source and posting the first event
        against it. Because the cache is per instance, the first events can still fail with
        `417` after another instance has already picked the new source up.

        Whether a flow is actually listening for the event is *not* checked. If no active
        Integration flow uses the event source as its trigger, the event is still accepted
        and simply results in no message — so confirm the flow is active in the Recart
        dashboard when events succeed but nothing is sent.

        The event is queued for processing, so `200` confirms that it was accepted, not that
        a message was sent. The `200` response body is the plain-text string `OK`, not a
        JSON:API document — do not parse it as JSON.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/PostEvent'
      responses:
        '200':
          description: |
            The event was accepted and queued for processing. The body is the plain-text
            string `OK`.
          content:
            text/plain:
              schema:
                type: string
                example: OK
        '400':
          description: |
            `ERR_BAD_REQUEST` — the payload failed validation, in which case `detail` lists
            the offending fields, or `phoneNumber` could not be parsed as a phone number.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '401':
          description: '`ERR_UNAUTHORIZED` — the `X-Recart-API-Key` header is missing.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '403':
          description: '`ERR_FORBIDDEN` — the API key is unknown or has been revoked.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '404':
          description: |
            `ERR_NOT_FOUND` — no subscriber exists for `phoneNumber`. Subscribe the phone
            number first; posting an event does not create a subscriber.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '415':
          description: |
            `ERR_UNSUPPORTED_MEDIA_TYPE` — `Content-Type` must be `application/vnd.api+json`
            or `application/json`.

            A `Content-Type` the API cannot parse at all is rejected earlier, before this
            error format applies, and returns an unstructured plain-text body. A malformed
            JSON body is rejected the same way, with `400`.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '417':
          description: |
            `ERR_EXPECTATION_FAILED` — a precondition on the account is not met. Either no
            event source is registered for the site with this `source.category` and
            `source.name` pair, or the subscriber exists but does not have an active SMS
            subscription. The two cases are distinguished by `detail`.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '500':
          description: |
            `ERR_INTERNAL_SERVER_ERROR` — the event passed validation but the request could
            not be processed, either because the subscriber could not be looked up or
            because the event could not be queued. The event was not processed, so it is
            safe to retry.

            Failures reaching an upstream service can also surface as other `5XX` statuses
            with an unstructured body, so treat the whole `5XX` range as retryable rather
            than matching on `500` alone.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /webhooks:
    get:
      summary: Retrieve list of webhooks
      tags:
        - Webhook
      operationId: listWebhooks
      security:
        - ApiKeyAuth: []
      description: Retrieve list of webhooks
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Webhook'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
    post:
      summary: Create a new webhook
      tags:
        - Webhook
      operationId: createWebhook
      security:
        - ApiKeyAuth: []
      description: Create a new webhook
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/Webhook'
      responses:
        '201':
          description: Created
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
      callbacks:
        Incoming message:
          '{$request.body#/data/attributes/address}':
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        data:
                          $ref: '#/components/schemas/IncomingMessage'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Outgoing message:
          '{$request.body#/data/attributes/address}':
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        data:
                          $ref: '#/components/schemas/OutgoingMessage'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Subscribers unsubscribe:
          '{$request.body#/data/attributes/address}':
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        data:
                          $ref: '#/components/schemas/SubscribersUnsubscribe'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
        Subscribers subscribe:
          '{$request.body#/data/attributes/address}':
            post:
              requestBody:
                required: true
                content:
                  application/json:
                    schema:
                      type: object
                      properties:
                        data:
                          $ref: '#/components/schemas/SubscribersSubscribe'
              responses:
                '200':
                  description: Your server returns this code if it accepts the callback
  '/webhooks/{id}':
    get:
      summary: Recieve a single webhook
      tags:
        - Webhook
      operationId: getWebhook
      security:
        - ApiKeyAuth: []
      description: Recieve a single webhook
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the webhook
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/Webhook'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
    delete:
      summary: Remove an existing webhook
      tags:
        - Webhook
      operationId: deleteWebhook
      security:
        - ApiKeyAuth: []
      description: Remove an existing webhook
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the webhook
          schema:
            type: string
      responses:
        '204':
          description: No content
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  /messages:
    post:
      summary: Send message(s) to a subscriber
      tags:
        - Message
      operationId: postMessages
      security:
        - ApiKeyAuth: []
      description: |
        Trigger SMS/MMS messages. Maximum 10 messages can be sent in a single request. Requester must comply with TCPA regulations, and make sure the message is not sent in quiet hours.

        The site must have an active or trial SMS subscription, otherwise the request fails
        with `417`.

        Messages are queued in the order given rather than sent inline, so `202` confirms
        that they were accepted for delivery, not that they were delivered. The response
        returns one entry per message; poll `GET /messages/{id}` with the returned IDs to
        follow their delivery status.
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/PostMessages'
      responses:
        '202':
          description: |
            The messages were accepted and queued for delivery, one entry per message, in
            the order they were given.
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/AcceptedMessage'
        '400':
          description: |
            `ERR_BAD_REQUEST` — the payload failed validation, in which case `detail` lists
            the offending fields, or `phoneNumber` could not be parsed as a phone number.
            Validation covers the documented limits: at most 10 messages, `body` at most
            1024 characters, `type` must be `promotional`, and `attachment` must end in
            `.jpg`, `.jpeg`, `.png`, or `.gif`.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '401':
          description: '`ERR_UNAUTHORIZED` — the `X-Recart-API-Key` header is missing.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '403':
          description: '`ERR_FORBIDDEN` — the API key is unknown or has been revoked.'
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '415':
          description: |
            `ERR_UNSUPPORTED_MEDIA_TYPE` — `Content-Type` must be `application/vnd.api+json`
            or `application/json`.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '417':
          description: |
            `ERR_EXPECTATION_FAILED` — the site does not have an active or trial SMS
            subscription, so no messages can be sent until billing is resolved. No message
            in the request was queued.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/HttpErrorBody'
        '500':
          description: |
            The request passed validation but could not be processed.

            Messages are queued one by one, so a failure partway through leaves the earlier
            messages of the request already queued for delivery. No message IDs are returned
            in this case, so a blind retry of the whole request can duplicate the messages
            that already went through.

            Unlike the `4XX` responses, this status is not guaranteed to use the standard
            error envelope — an unstructured plain-text body is possible — so do not match
            on `errors[].code` here.
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/messages/{id}':
    get:
      summary: Returns the message's status by its ID
      tags:
        - Message
      operationId: getMessage
      security:
        - ApiKeyAuth: []
      description: Returns the status of the selected message.
      parameters:
        - in: path
          name: id
          description: ID of the message
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/OutgoingMessage'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
  '/lists/{id}/phone-numbers':
    post:
      description: Add or remove phone numbers to a list
      summary: Add or remove phone numbers to a list
      operationId: modifyListMembers
      security:
        - ApiKeyAuth: []
      tags:
        - List
      parameters:
        - in: path
          name: id
          required: true
          description: ID of the list
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  $ref: '#/components/schemas/ModifyListMembersRequest'
      responses:
        '200':
          description: OK
          content:
            application/vnd.api+json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ModifyListMembersResponse'
        4XX:
          $ref: '#/components/responses/HttpError'
        5XX:
          $ref: '#/components/responses/HttpError'
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Recart-API-Key
      description: It can be obtained in Recart account after contacting Support
  responses:
    HttpError:
      description: HTTP Error response
      content:
        application/vnd.api+json:
          schema:
            $ref: '#/components/schemas/HttpErrorBody'
  schemas:
    HttpErrorBody:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          items:
            type: object
            required:
              - id
              - code
              - title
              - detail
            properties:
              id:
                type: string
                example: 17035478-01a9-4aeb-a13c-88ab51e6fee3
              code:
                type: string
                example: ERR_BAD_REQUEST
              title:
                type: string
                example: Bad request
              detail:
                type: string
                example: ''
    Flow:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - flows
        attributes:
          type: object
          required:
            - id
            - name
            - tags
            - status
          properties:
            id:
              type: string
              description: ID of flow
              example: 655637c97825e6ae655fe1b5
            name:
              type: string
              description: Name of flow
              example: Welcome flow
            tags:
              type: array
              items:
                type: string
              description: Flow tags
              example:
                - automated
                - welcome
            status:
              type: string
              description: Status of flow
              enum:
                - draft
                - active
                - inactive
                - cancelled
    OptinTool:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - optin-tools
        attributes:
          type: object
          required:
            - id
            - name
            - type
            - status
            - devices
            - channels
          properties:
            id:
              type: string
              description: ID of the opt-in tool
              example: 655637c97825e6ae655fe1b5
            name:
              type: string
              description: Name of the opt-in tool
              example: Mobile - Preferences - Custom Images
            type:
              type: string
              description: Type of the opt-in tool
              enum:
                - popup
                - landing-page
                - embedded-form
                - keyword
            status:
              type: string
              description: Status of the opt-in tool
              enum:
                - active
                - draft
                - inactive
            devices:
              type: array
              description: Devices the tool targets
              items:
                type: string
                enum:
                  - mobile
                  - desktop
            channels:
              type: array
              description: Channels the tool collects
              items:
                type: string
                enum:
                  - email
                  - sms
            statusSchedule:
              type: object
              description: Upcoming scheduled status transitions. UTC Date and time in ISO 8601 format
              properties:
                activateAt:
                  type: string
                  format: date-time
                  example: '2026-08-03T14:00:00.000+02:00'
                inactivateAt:
                  type: string
                  format: date-time
                  example: '2026-08-10T14:00:00.000+02:00'
            optinMethod:
              type: object
              description: What handles a new opt-in
              required:
                - type
              properties:
                type:
                  type: string
                  description: Type of the message handler
                  enum:
                    - flow
                    - integration
                flowId:
                  type: string
                  description: ID of the flow the tool feeds (type flow only)
                  example: 655637c97825e6ae655fe1c2
            experimentIds:
              type: array
              description: IDs of A/B experiments the tool participates in
              items:
                type: string
              example:
                - 655637c97825e6ae655fe1d9
            steps:
              type: array
              description: Steps of the tool (popup only)
              items:
                type: string
                enum:
                  - teaser
                  - email
                  - sms
                  - smsWithEmail
                  - oneTimePassword
                  - oneClickVerification
                  - oneClickOptin
                  - success
            messagingType:
              type: string
              description: Messaging type of the tool (popup only)
              enum:
                - two-way
                - one-way
            settings:
              type: object
              description: |
                Full tool settings (type-dependent). Returned only by getOptinTool;
                the collection endpoint omits it.
    RevenueMetrics:
      type: object
      description: |
        Revenue attributed to the opt-in tool: orders placed within 7 days
        of an interaction with the tool in the same session. Amounts are in
        USD, rounded to 2 decimal places. Fields are never null: a range
        without attributed orders returns 0 amounts, and rates are 0 when
        the denominator is 0.
      required:
        - associatedRevenue
        - orders
        - averageOrderValue
        - revenuePerVisitor
        - orderConversionRate
      properties:
        associatedRevenue:
          type: number
          description: Total value of the orders attributed to the opt-in tool, in USD
          example: 12403.5
        orders:
          type: integer
          description: Number of orders attributed to the opt-in tool
          example: 96
        averageOrderValue:
          type: number
          description: associatedRevenue / orders, in USD
          example: 129.2
        revenuePerVisitor:
          type: number
          description: associatedRevenue / impressions, in USD
          example: 0.3
        orderConversionRate:
          type: number
          description: orders / impressions
          example: 0.0023
    OptinToolOptinSummaryData:
      type: object
      description: |
        Opt-in performance totals for the range. Counts are unique sessions.
        Email/SMS fields appear only when the tool collects that channel.
        Fields are never null: a range without data returns 0 counts and
        0 rates.
      required:
        - impression
        - teaserConfirm
        - teaserConfirmRate
        - teaserDecline
      properties:
        impression:
          type: integer
          description: Unique sessions in which the popup was displayed
          example: 41200
        teaserConfirm:
          type: integer
          description: Unique sessions that clicked the teaser and opened the popup
          example: 890
        teaserConfirmRate:
          type: number
          description: teaserConfirm / impression
          example: 0.0216
        teaserDecline:
          type: integer
          description: Unique sessions that dismissed the teaser
          example: 2140
        emailOptin:
          type: integer
          description: Unique sessions that submitted an email address on the popup
          example: 610
        emailOptinRate:
          type: number
          description: emailOptin / impression
          example: 0.0148
        phoneNumberSubmitted:
          type: integer
          description: Unique sessions that submitted a phone number on the popup
          example: 530
        phoneNumberSubmittedRate:
          type: number
          description: phoneNumberSubmitted / impression
          example: 0.0129
        smsOptin:
          type: integer
          description: Unique sessions that completed the SMS opt-in
          example: 480
        smsOptinRate:
          type: number
          description: smsOptin / impression
          example: 0.0117
    OptinToolOptinHistoryBucket:
      type: object
      required:
        - timestamp
        - impression
      properties:
        timestamp:
          type: string
          format: date
          description: Start of the bucket, in UTC (weeks start on Monday)
          example: '2026-07-27'
        impression:
          type: integer
          description: Unique sessions in which the popup was displayed within the bucket
        emailOptin:
          type: integer
          description: Unique sessions that submitted an email address within the bucket
        emailOptinRate:
          type: number
          description: emailOptin / impression within the bucket
        smsOptin:
          type: integer
          description: Unique sessions that completed the SMS opt-in within the bucket
        smsOptinRate:
          type: number
          description: smsOptin / impression within the bucket
    OptinToolRevenueHistoryBucket:
      allOf:
        - type: object
          required:
            - timestamp
          properties:
            timestamp:
              type: string
              format: date
              description: Start of the bucket, in UTC (weeks start on Monday)
              example: '2026-07-27'
        - $ref: '#/components/schemas/RevenueMetrics'
    OptinToolRevenueByOptinSegmentsItem:
      allOf:
        - type: object
          required:
            - optinSegmentType
            - optinSegmentCount
          properties:
            optinSegmentType:
              type: string
              description: |
                The deepest opt-in stage the sessions in this row reached
                (noOptin / emailOptin / smsOptin / emailAndSMSOptin); the
                total row sums the whole funnel
              enum:
                - noOptin
                - emailOptin
                - smsOptin
                - emailAndSMSOptin
                - total
            optinSegmentCount:
              type: integer
              description: Unique sessions whose deepest opt-in stage is this segment
        - $ref: '#/components/schemas/RevenueMetrics'
    OptinToolRevenueByCountriesItem:
      allOf:
        - type: object
          required:
            - countryCode
            - impressionCount
          properties:
            countryCode:
              type: string
              description: |
                ISO 3166-1 alpha-2 country code of the visitors;
              example: US
            impressionCount:
              type: integer
              description: Unique sessions in which the popup was displayed in this country
        - $ref: '#/components/schemas/RevenueMetrics'
    OptinToolSubscriptionsHistoryBucket:
      type: object
      required:
        - timestamp
        - subscriptions
      properties:
        timestamp:
          type: string
          format: date
          description: Start of the bucket, in UTC (weeks start on Monday)
          example: '2026-07-27'
        subscriptions:
          type: integer
          description: New SMS subscribers the opt-in tool collected within the bucket
    OptinToolViews:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - optin-tool-views
        attributes:
          type: object
          description: |
            The requested view's data under its name — exactly one key for a
            single view, all seven for name=all. History and breakdown values
            are arrays (one element per bucket / country / segment).
          minProperties: 1
          properties:
            optin-summary:
              description: Opt-in performance totals for the range
              $ref: '#/components/schemas/OptinToolOptinSummaryData'
            optin-history:
              type: array
              description: Opt-in performance per bucket; one bucket per targetResolution unit, gaps zero-filled
              items:
                $ref: '#/components/schemas/OptinToolOptinHistoryBucket'
            revenue-summary:
              description: Revenue attributed to the tool, totals for the range
              $ref: '#/components/schemas/RevenueMetrics'
            revenue-history:
              type: array
              description: Attributed revenue per bucket; one bucket per targetResolution unit, gaps zero-filled
              items:
                $ref: '#/components/schemas/OptinToolRevenueHistoryBucket'
            revenue-by-optin-segments:
              type: array
              description: Attributed revenue split by opt-in segment; one element per segment plus a total row
              items:
                $ref: '#/components/schemas/OptinToolRevenueByOptinSegmentsItem'
            revenue-by-countries:
              type: array
              description: Impressions and attributed revenue per country, sorted desc by associatedRevenue; UNKNOWN_COUNTRY included
              items:
                $ref: '#/components/schemas/OptinToolRevenueByCountriesItem'
            subscriptions-history:
              type: array
              description: New SMS subscribers collected by the tool per bucket; one bucket per targetResolution unit, gaps zero-filled
              items:
                $ref: '#/components/schemas/OptinToolSubscriptionsHistoryBucket'
    OptinToolsSummaryItem:
      type: object
      description: |
        One opt-in tool's totals for the range — the tool's identity, then its
        raw metric-event unique-session counts merged with the new SMS
        subscriptions it collected. Besides optinToolId, optinToolName,
        optinToolType and smsSubscriptions, every key is a MetricEvent value
        (see the MetricEvent schema) with its count; only events that occurred
        appear, a missing key means 0.
      required:
        - optinToolId
        - optinToolName
        - optinToolType
        - smsSubscriptions
      properties:
        optinToolId:
          type: string
          example: '655637c97825e6ae655fe1c9'
        optinToolName:
          type: string
          description: Name of the opt-in tool
          example: Mobile - Preferences - Custom Images
        optinToolType:
          type: string
          description: Type of the opt-in tool
          enum:
            - popup
            - landing-page
            - embedded-form
            - keyword
        smsSubscriptions:
          type: integer
          description: New SMS subscriptions collected by the tool in the range
          example: 150
      additionalProperties:
        type: integer
        description: MetricEvent → number of unique sessions the event occurred in
        example: 20400
    OptinToolListViews:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - optin-tool-list-views
        attributes:
          type: object
          description: |
            The requested view's data under its name — exactly one key per
            request.
          minProperties: 1
          properties:
            optin-tools-summary:
              type: array
              description: |
                One entry per opt-in tool that recorded any metric event or
                collected any SMS subscription in the range.
              items:
                $ref: '#/components/schemas/OptinToolsSummaryItem'
    OptinToolExperiment:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - optin-tool-experiments
        attributes:
          type: object
          required:
            - id
            - name
            - status
            - dateFrom
            - dateTo
            - optinToolIds
            - createdAt
            - updatedAt
          properties:
            id:
              type: string
              description: ID of the experiment
              example: 655637c97825e6ae655fe1d9
            name:
              type: string
              description: Name of the experiment
              example: Teaser vs no teaser
            status:
              type: string
              description: |
                Status of the experiment. A scheduled experiment has no
                statistics yet, so its views return 400.
              enum:
                - scheduled
                - running
                - ended
            dateFrom:
              type: string
              format: date-time
              description: Start of the experiment window. UTC date and time in ISO 8601 format
              example: '2026-07-27T00:00:00.000Z'
            dateTo:
              type: string
              format: date-time
              description: |
                End of the experiment window, exclusive. UTC date and time in
                ISO 8601 format. For a running experiment this is the planned
                end; statistics stop at the current time instead.
              example: '2026-08-10T00:00:00.000Z'
            optinToolIds:
              type: array
              description: |
                IDs of the opt-in tools taking part in the experiment — its
                variants. Statistics views return one entry per ID.
              items:
                type: string
              example:
                - 655637c97825e6ae655fe1c9
                - 655637c97825e6ae655fe1b5
            winnerOptinToolId:
              type: string
              description: |
                ID of the variant Recart picked as the winner, present once the
                experiment has ended. Picked on opt-in rate alone — this is not
                a statistical significance test.
              example: 655637c97825e6ae655fe1c9
            winnerOptinRate:
              type: number
              description: Opt-in rate of the winning variant
              example: 0.0135
            createdAt:
              type: string
              format: date-time
              description: Creation time of the experiment. UTC date and time in ISO 8601 format
              example: '2026-07-20T09:14:33.000Z'
            updatedAt:
              type: string
              format: date-time
              description: Last modification time of the experiment. UTC date and time in ISO 8601 format
              example: '2026-08-10T00:00:01.000Z'
    OptinToolExperimentOptinSummaryData:
      description: |
        Opt-in performance totals of one variant for the experiment's window —
        the same fields as an opt-in tool's optin-summary, plus the subscribers
        the variant collected.
      allOf:
        - $ref: '#/components/schemas/OptinToolOptinSummaryData'
        - type: object
          required:
            - subscriptions
          properties:
            subscriptions:
              type: integer
              description: New SMS subscribers the variant collected
              example: 268
    MetricEvent:
      type: string
      description: |
        Raw popup metric event identifier. Revenue is carried only by
        impressionRevenue, emailClickRevenue and smsOptinRevenue; orderValueUSD
        is 0 for every other event.
      enum:
        - teaserConfirmation
        - teaserDecline
        - smsClick
        - emailClick
        - closePopup
        - openMinimized
        - closeMinimized
        - impression
        - minimizedImpression
        - close
        - smsOptin
        - optinRequestSent
        - successClick
        - engagement
        - emailAutofill
        - smsAutofill
        - oneTimePasswordAutofill
        - oneTimePasswordClick
        - oneTimePasswordResend
        - oneClickVerificationClick
        - oneClickVerificationAutofill
        - oneClickVerificationResend
        - oneClickThisIsntMe
        - impressionRevenue
        - emailClickRevenue
        - smsOptinRevenue
        - oneClickReturningVisitorSMSClick
        - oneClickReturningVisitorEmailClick
        - oneClickReturningVisitorSuccessClick
        - oneClickReturningVisitorClose
        - oneClickReturningVisitorClosePopup
        - oneClickReturningVisitorCloseMinimized
        - oneClickReturningVisitorImpression
        - oneClickReturningVisitorMinimizedImpression
        - oneClickReturningVisitorVerificationClick
        - oneClickReturningVisitorVerificationAutofill
        - oneClickReturningVisitorVerificationResend
        - oneClickReturningVisitorThisIsntMe
        - oneClickReturningVisitorTeaserDecline
        - oneClickReturningVisitorTeaserConfirmation
        - oneClickReturningVisitorOpenMinimized
        - oneClickReturningVisitorAutofill
        - oneClickNewVisitorSMSClick
        - oneClickNewVisitorEmailClick
        - oneClickNewVisitorSuccessClick
        - oneClickNewVisitorClose
        - oneClickNewVisitorClosePopup
        - oneClickNewVisitorCloseMinimized
        - oneClickNewVisitorImpression
        - oneClickNewVisitorMinimizedImpression
        - oneClickNewVisitorVerificationClick
        - oneClickNewVisitorVerificationAutofill
        - oneClickNewVisitorVerificationResend
        - oneClickNewVisitorThisIsntMe
        - oneClickNewVisitorTeaserDecline
        - oneClickNewVisitorTeaserConfirmation
        - oneClickNewVisitorOpenMinimized
        - oneClickNewVisitorAutofill
    MetricEventStatistic:
      type: object
      description: Raw count and attributed order value of a single metric event
      required:
        - count
        - orderValueUSD
      properties:
        count:
          type: integer
          description: Number of times the event occurred
          example: 31
        orderValueUSD:
          type: number
          description: |
            Value of the orders attributed to the event, in USD, rounded to 2
            decimal places. 0 for every event other than impressionRevenue,
            emailClickRevenue and smsOptinRevenue.
          example: 2410.5
    OptinToolExperimentViews:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - optin-tool-experiments-views
        attributes:
          type: object
          description: |
            The requested section under its name — exactly one key for a single
            view, all four for name=all. Every section is an object keyed by the
            variant's opt-in tool ID, holding that variant's totals for the
            experiment's window.
          minProperties: 1
          properties:
            optin-summary:
              type: object
              description: Opt-in performance totals per variant
              additionalProperties:
                $ref: '#/components/schemas/OptinToolExperimentOptinSummaryData'
            revenue-summary:
              type: object
              description: Attributed revenue totals per variant
              additionalProperties:
                $ref: '#/components/schemas/RevenueMetrics'
            revenue-by-optin-segments:
              type: object
              description: |
                Attributed revenue split by opt-in segment per variant; one
                element per segment plus a total row
              additionalProperties:
                type: array
                items:
                  $ref: '#/components/schemas/OptinToolRevenueByOptinSegmentsItem'
            metric-event-summary:
              type: object
              description: |
                Raw metric event counts per variant, available for significance
                math. Each variant holds a sparse map whose keys are MetricEvent
                values — only events that occurred within the experiment's
                window appear, and a missing key means 0.
              additionalProperties:
                type: object
                propertyNames:
                  $ref: '#/components/schemas/MetricEvent'
                additionalProperties:
                  $ref: '#/components/schemas/MetricEventStatistic'
    UpdateCart:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - carts
        attributes:
          type: object
          required:
            - totalPrice
            - recoveryUrl
            - lineItems
          properties:
            totalPrice:
              type: object
              required:
                - value
                - currency
              properties:
                value:
                  type: number
                  format: double
                  description: Value of cart
                  example: 4.2
                currency:
                  type: string
                  description: Currency of the cart
                  example: USD
            recoveryUrl:
              type: string
              format: uri
              description: URL of the cart recovery page
              example: 'https://example.com/cart'
            lineItems:
              type: array
              items:
                type: object
                required:
                  - productId
                  - name
                  - quantity
                  - price
                properties:
                  productId:
                    type: string
                    format: int64
                    description: ID of the product
                    example: '9007199254740991'
                  variantId:
                    type: string
                    format: int64
                    description: ID of the product variant
                    example: '9007199254740991'
                  name:
                    type: string
                    description: Name of the product
                    example: Product name
                  quantity:
                    type: integer
                    format: int32
                    description: Quantity of the product
                    example: 1
                  price:
                    type: object
                    required:
                      - value
                      - currency
                    properties:
                      value:
                        type: number
                        format: double
                        description: Value of cartItem
                        example: 4.2
                      currency:
                        type: string
                        description: Currency of the cartItem
                        example: USD
    FulfillOrder:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - fulfillments
        attributes:
          type: object
          required:
            - orderNumber
            - orderId
            - createdAt
          properties:
            orderNumber:
              type: string
              format: int64
              description: Order number
              example: '9007199254740991'
            orderId:
              type: string
              format: int64
              description: Order ID
              example: '9007199254740991'
            phoneNumber:
              type: string
              description: Preferably E.164 format
              example: '+36301234567'
            sessionId:
              type: string
              description: Recart identifier of the purchase session. Use `_recart.getSessionId()` on the merchant's store when Recart script is running.
              example: 655637bfaf3c6463c0f06d3e
            createdAt:
              type: string
              description: UTC Date and time in ISO 8601 format
              example: '2021-08-10T14:00:00.000+02:00'
            trackingCompany:
              type: string
              description: Name of the tracking company
              example: UPS
            trackingNumber:
              type: string
              description: Tracking number
              example: '12344321'
            trackingUrl:
              type: string
              format: uri
              description: Tracking URL
              example: 'https://track.me'
    AbandonCart:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - abandonments
        attributes:
          type: object
          required:
            - type
            - sessionId
          properties:
            type:
              type: string
              description: 'Type of the abandonment, "cart" and "browse" are supported'
              example: cart
            sessionId:
              type: string
              description: Recart identifier of the purchase session. Use `_recart.getSessionId()` on the merchant's store when Recart script is running.
              example: 655637bfaf3c6463c0f06d3e
            productId:
              type: string
              format: int64
              description: ID of the product
              example: '9007199254740991'
    PostSubscription:
      type: object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - subscriptions
        attributes:
          type: object
          description: Attributes of the subscriber
          required:
            - phoneNumber
            - source
          properties:
            phoneNumber:
              type: string
              description: Preferably E.164 format
              example: '+36301234567'
            source:
              type: object
              required:
                - category
                - name
              properties:
                category:
                  type: string
                  description: Source category
                  example: amped
                name:
                  type: string
                  description: Source name
                  example: subscription
                externalId:
                  type: string
                  description: Optional identifier
                  example: 2024 june campaign
            browser:
              type: object
              properties:
                userAgent:
                  type: string
                  description: User agent of the browser
                  example: 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko)'
                language:
                  type: string
                  description: Language of the browser
                  example: en
                url:
                  type: string
                  format: uri
                  description: URL of the browser page
                  example: 'https://cars.myshopify.com/buy-this'
            sessionId:
              type: string
              description: Recart identifier of the purchase session.  Use `_recart.getSessionId()` on the merchant's store when Recart script is running.
              example: 655637bfaf3c6463c0f06d3e
            shopperId:
              type: string
              deprecated: true
              description: 'Deprecated: the `_recart.getShopperId()` method used to source this value has been removed and there is no replacement. This field is retained for backward compatibility but should no longer be relied upon.'
              example: 655637c97825e6ae655fe1b5
            firstName:
              type: string
              description: First name of the subscriber
              example: John
            lastName:
              type: string
              description: Last name of the subscriber
              example: Doe
            timezone:
              type: string
              description: Timezone of the subscriber
              example: Europe/Budapest
            location:
              type: object
              properties:
                city:
                  type: string
                  description: City
                  example: New York
                province:
                  type: string
                  description: Province
                  example: New York
                zip:
                  type: string
                  description: ZIP code
                  example: '12345'
                country:
                  type: string
                  description: Country
                  example: US
                ipAddress:
                  type: string
                  format: ipv4
                  description: IP address of the subscriber
                  example: 192.158.1.38
    SubscriptionSourcesItem:
      type: object
      description: |
        New SMS subscriptions collected from one source in the range. A
        source is either an opt-in tool type (popup, landing-page,
        embedded-form, keyword) or a non-tool source slug (import,
        custom-integration, public-api, shopify_checkout, …).
      required:
        - source
        - smsSubscriptions
      properties:
        source:
          type: string
          example: popup
        smsSubscriptions:
          type: integer
          example: 419
    SubscribersViews:
      type:
        - object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - subscribers-views
        attributes:
          type: object
          description: |
            The requested view's data under its name — exactly one key per
            request.
          minProperties: 1
          properties:
            subscription-sources:
              type: array
              description: |
                One entry per subscription source, sorted descending by
                smsSubscriptions.
              items:
                $ref: '#/components/schemas/SubscriptionSourcesItem'
    PatchSubscriber:
      type: object
      required:
        - type
        - attributes
      properties:
        type:
          type: string
          enum:
            - subscribers
        attributes:
          type: object
          description: Attributes of the subscriber to update
          required:
            - customAttributes
          properties:
            customAttributes:
              type: object
              description: >
                Merchant-defined custom attributes as key/value pairs. PATCH/merge semantics:
                keys included in the request are set or overwritten; a key with a `null` value
                is deleted; keys not included are left unchanged.


                Limits: maximum 30 attributes per subscriber; the entire `customAttributes`
                object must not exceed 16 KB (enforced by the API server). Keys must match
                `^(?!recart_)[A-Za-z][A-Za-z0-9_]{0,63}$` (start with a letter, alphanumeric or
                underscore, max 64 characters, no spaces; the `recart_` prefix is reserved).
                Values must be a string
                (max 1024 characters), number, boolean, an array of up to 100 strings (each max
                255 characters), or `null` to delete the attribute. Nested objects are not allowed.
              maxProperties: 30
              propertyNames:
                pattern: '^(?!recart_)[A-Za-z][A-Za-z0-9_]{0,63}$'
              additionalProperties:
                oneOf:
                  - type: string
                    maxLength: 1024
                  - type: number
                  - type: boolean
                  - type: array
                    maxItems: 100
                    items:
                      type: string
[...]
